.filters{
    font-size: 12px;
    margin-bottom: 1.667vw;
}
.filterHead{
    margin-bottom: 1.736vw;
    font-size: 14px;
}
.filterInput{
    margin-bottom: 1.111vw;
}
.conta input{
    margin-right: 0.556vw;
}
.conta span{
    font-size: 0.972vw;
}