/* .navi{
    display: flex;
    justify-content: space-between;
    padding: 0 10.417vw;
} */
.rightNavi{
    display: flex;
    flex-direction: row;
}
a:link{
    text-decoration: none;
}
.rightNavi .rightFirst{
    color: black;
}
h5{
    color: black;
}
.rightSecond{
    margin-left: 3.333vw;
}