.cont{
    display: flex;
    justify-content: center;
    margin-top: 7.5vh;
}
.miniCont{
    width: 50%;
    justify-content: center;
}
.domaintxt{
    font-size: 2.361vw;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.htm{
    font-size: 1.111vw;
    display: flex;
    text-align: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 0.556vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1.667vw;
}
.buttons button{
    background-color: #EFF1F3;
    border: none;
    border-radius: 4px;
    padding: 0.625vw 1.111vw;
}
.buttons button,span{
    font-size: 0.972vw;
}